{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container">
    <h1></h1>
    <h2>
        Un e-mail vient de vous être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </h2>
    <h5 class="mt-5">Si vous n'avez pas reçu d'e-mail merci de vérifier vos courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</h5>
        <button class="btn btn-primary mt-5">
            <a href="{{ path('app_profile') }}">
                Retour au profil
            </a>
        </button>
    </div>
{% endblock %}
