a {
    color: #000000;
    text-decoration: none;
}

.test2{
    height: 200px;
}


.homeBg{
    background-image: url("../img/testbg.png");
    color: white;
    padding-top: 200px;
    padding-bottom: 360px;
}

.homeText{
    margin-left: 125px;
}

h1{
    margin-bottom: 50px;
}

.offerText{
    text-align: center;
}



.truncate {
    overflow:hidden;
    line-height: 1.7rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.pack{
    background-color: #e6e6e6;
    border: solid;
    border-color: #7d8293;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
