a {
    color: #000000;
    text-decoration: none;
}

.test2{
    height: 200px;
}


.homeBg{
    background-image: url("../img/testbg.png");
    color: white;
    padding-top: 200px;
    padding-bottom: 360px;
}

.homeText{
    margin-left: 125px;
}

h1{
    margin-bottom: 50px;
}

.offerText{
    text-align: center;
}

.offerBg{
    background-image: url("../img/testbg.png");
    color: white;
    padding-top: 50px;
    padding-bottom: 360px;
}
