<footer class="bg-dark text-light py-3 mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-3">À propos</h5>
                <p class="text-muted">Megacasting est une plateforme de diffusion d'offres de casting, inscrivez-vous pour postuler aux offres de casting !</p>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Liens</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Réseaux sociaux</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-center py-2">
        <p class="mb-0">© 2023 Mon entreprise. Tous droits réservés.</p>
    </div>
</footer>
